name: Build AgonDev (Linux x64)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-lin64:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Install Dependenncies
      run: sudo apt-get install -y build-essential git make zip cmake texinfo ninja-build libgmp-dev libmpfr-dev bison flex python3-pip python3-ply zlib1g-dev binutils

    - name: Run make_llvmtools.sh
      run: |
        ./make_llvmtools.sh

    - name: Build final AgonDev package
      run: |
        make clean || true
        make -j$(nproc)

    - name: Upload final artifact
      uses: actions/upload-artifact@v5
      with:
        name: agondev-linux-x64
        path: agondev-*.tar.gz
